        .container {
            margin-top: 20px;
            font-family: 'Poppins', sans-serif;
        }

        .menu-item {
            background-color: #ffffff;
            /* Warna latar belakang putih */
            border: 1px solid #adb5bd;
            /* Border abu-abu */
            border-radius: 5px;
            margin-bottom: 20px;
            /* Menambahkan jarak antara setiap kartu */
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 23%;
            /* Menjadikan 4 card dalam satu baris di layar web */
        }


        .menu-item .menu-details {
            flex: 1;
        }

        .menu-item .menu-description {
            font-size: 12px;
            /* Mengatur ukuran font deskripsi */
            margin-bottom: 5px;
            /* Menambahkan margin antara deskripsi dan harga */
            margin-right: 5px;
        }

        .menu-item .menu-price {
            font-size: 14px;
        }

        .menu-item .add-to-order-button {
            font-size: 14px;
        }

        .menu-item .add-to-order-button i {
            margin: 5px 0px 5px 0px;
        }

        /* Mengatur margin antar card */
        #menuCards .menu-item {
            margin-right: 10px;
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            /* Menata tombol menjadi tata letak horizontal */
            justify-content: center;
            /* Memusatkan tombol secara horizontal */
        }

        .action-buttons button {
            margin-right: 10px;
            /* Menambahkan jarak antara tombol */
        }

        @media screen and (max-width: 767px) {
            .action-buttons {
                flex-direction: column;
                /* Menata tombol menjadi tata letak vertikal di perangkat seluler */
                align-items: center;
                /* Memusatkan tombol secara horizontal */
            }

            .action-buttons button {
                margin-right: 0;
                margin-bottom: 5px;
                /* Menghapus margin-right dan menambahkan margin-bottom untuk jarak antara tombol di perangkat seluler */
            }

            .menu-item {
                flex-direction: column;
            }

            .menu-details {
                text-align: center;
                margin-right: 0;
                margin-top: 10px;
            }

            .menu-title {
                font-size: 14px;
            }

            .menu-description {
                font-size: 8px;
                margin-right: 0px;
            }

            .menu-price {
                font-size: 12px;
            }

            #menuCards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            #menuCards .menu-item {
                flex-basis: 40%;
                /* Menjadikan dua card dalam satu baris di layar ponsel */
                margin-bottom: 20px;
                /* Menambahkan margin antar card di layar ponsel */
            }
        }